.text-blue {
    color: $blue;
}

.text-indigo {
    color: $indigo;
}

.text-purple {
    color: $purple;
}

.text-pink {
    color: $pink;
}

.text-red {
    color: $red;
}

.text-orange {
    color: $orange;
}

.text-yellow {
    color: $yellow;
}

.text-green {
    color: $green;
}

.text-teal {
    color: $teal;
}

.text-cyan {
    color: $cyan;
}

/** progressbar */
.__cov-progress {
    min-height: 5px !important;
}
