<template>
  <div class="container">
    <div class="row mt-5" v-if="$gate.isAdmin()">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Users Table</h3>

            <div class="card-tools">
              <button class="btn btn-success" @click.prevent="addNewUser">
                Add New
                <i class="fas fa-user-plus fa-fw"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Type</th>
                  <th>Registered</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="user in users.data" :key="user.id">
                  <td>{{ user.id }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.type | upText }}</td>
                  <td>{{ user.created_at | myDate }}</td>
                  <td>
                    <a href="#" title="edit" @click.prevent="editUser(user)">
                      <i class="fas fa-edit text-blue"></i>
                    </a>
                    &nbsp;
                    <a
                      href="#"
                      @click.prevent="deleteUser(user.id)"
                      title="delete"
                    >
                      <i class="fas fa-trash text-red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <pagination :data="users" @pagination-change-page="getUsers"></pagination>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>

    <div v-if="! $gate.isAdmin()">
      <not-found></not-found>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="addNewModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 v-show="editMode" class="modal-title" id="addNewModalTitle">Update user</h5>
            <h5 v-show="! editMode" class="modal-title" id="addNewModalTitle">Add New</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="editMode ? updateUser() : createUser()" id="createUserForm">
              <div class="form-group">
                <input
                  v-model="form.name"
                  type="text"
                  name="name"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('name') }"
                  placeholder="Name"
                />
                <has-error :form="form" field="name"></has-error>
              </div>

              <div class="form-group">
                <input
                  v-model="form.email"
                  type="text"
                  name="email"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('email') }"
                  placeholder="Email Address"
                />
                <has-error :form="form" field="email"></has-error>
              </div>

              <div class="form-group">
                <textarea
                  v-model="form.bio"
                  type="text"
                  name="bio"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('bio') }"
                  placeholder="Short bio for user (optional)"
                ></textarea>
                <has-error :form="form" field="bio"></has-error>
              </div>

              <div class="form-group">
                <select
                  v-model="form.type"
                  type="text"
                  name="type"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('type') }"
                >
                  <option value>Select user type</option>
                  <option value="admin">Admin</option>
                  <option value="user">Standard User</option>
                  <option value="author">Author</option>
                </select>
                <has-error :form="form" field="bio"></has-error>
              </div>

              <div class="form-group">
                <input
                  v-model="form.password"
                  type="password"
                  name="password"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('password') }"
                />
                <has-error :form="form" field="password"></has-error>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button
              type="submit"
              v-show="editMode"
              class="btn btn-success"
              form="createUserForm"
            >Update</button>
            <button
              type="submit"
              v-show="! editMode"
              class="btn btn-primary"
              form="createUserForm"
            >Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      editMode: false,
      users: {},
      form: new Form({
        id: "",
        name: "",
        email: "",
        bio: "",
        password: "",
        type: "",
        photo: ""
      })
    };
  },
  created() {
    Fire.$on("searching", () => {
      let search = this.$parent.search;
      this.$Progress.start();
      axios
        .get("api/user/search?q=" + search)
        .then(response => {
          console.log(response);
          this.users = response.data;
          this.$Progress.finish();
        })
        .catch(error => {
          this.$Progress.fail();
          console.log(error);
        });
    });
    if (this.$gate.isAdmin()) {
      this.loadUsers();
    }
    Fire.$on("AfterCreate", () => {
      if (this.$gate.isAdmin()) {
        this.loadUsers();
      }
    });
    // setInterval(() => this.loadUsers(), 3000);
  },
  methods: {
    getUsers(page = 1) {
      this.$Progress.start();
      axios
        .get("api/user?page=" + page)
        .then(response => {
          this.users = response.data;
          this.$Progress.finish();
        })
        .catch(error => {
          this.$Progress.fail();
          console.log(error);
        });
    },
    updateUser: function() {
      this.$Progress.start();
      this.form
        .put("api/user/" + this.form.id)
        .then(response => {
          this.$Progress.finish();
          $("#addNewModal").modal("hide");
          Toast.fire({
            type: "success",
            title: "User has been updated successfully."
          });
          Fire.$emit("AfterCreate");
        })
        .catch(error => {
          this.$Progress.fail();
          Toast.fire({
            type: "error",
            title: error
          });
        });
    },
    editUser: function(user) {
      this.editMode = true;
      this.form.reset();
      this.form.clear();
      $("#addNewModal").modal("show");
      this.form.fill(user);
    },
    addNewUser: function() {
      this.editMode = false;
      this.form.reset();
      this.form.clear();
      $("#addNewModal").modal("show");
    },
    deleteUser: function(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          this.$Progress.start();
          this.form
            .delete("api/user/" + id)
            .then(response => {
              this.$Progress.finish();
              Toast.fire({
                type: "success",
                title: "User has been deleted successfully."
              });
              Fire.$emit("AfterCreate");
            })
            .catch(error => {
              this.$Progress.fail();
              Toast.fire({
                type: "error",
                title: error
              });
            });
        }
      });
    },
    createUser: function() {
      this.$Progress.start();
      this.form
        .post("api/user")
        .then(() => {
          this.$Progress.finish();
          $("#addNewModal").modal("hide");
          Toast.fire({
            type: "success",
            title: "User created successfully"
          });
          Fire.$emit("AfterCreate");
        })
        .catch(() => this.$Progress.fail());
    },
    loadUsers: function() {
      this.$Progress.start();
      axios
        .get("api/user?page=1")
        .then(response => {
          this.users = response.data;
          this.$Progress.finish();
        })
        .catch(error => {
          console.log(error);
          this.$Progress.fail();
        });
    }
  }
};
</script>
